<h1> Music-Code API</h1>
<h3> Create Wave Table</h3>
<table border = 1>
  <tr>
    <th>WaveID</th>
    <th>NoteLabels</th>
    <th>WaveType</th>
    <th>WtPos</th>
    <th>Duration</th>
    <th>BPM</th>
    <th>TimeMode</th>
    <th>UserID</th>
    <th>EventDateTime</th>
  </tr>
    
  {% for column in all_columns %}
  <tr>
    <td> {{column[0]}} </td>
	<td> {{column[1]}} </td>
    <td> {{column[2]}} </td>
    <td> {{column[3]}} </td>
    <td> {{column[4]}} </td>
    <td> {{column[5]}} </td>
    <td> {{column[6]}} </td>
    <td> {{column[7]}} </td>
    <td> {{column[8]}} </td>
  </tr>
  {% endfor %}
</table>
